<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.denis.mypocket"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyPocketApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.activity.WalletsActivity"
            android:parentActivityName=".view.activity.DrawerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.DrawerActivity"/>
        </activity>

        <activity
            android:name=".view.activity.AddWalletActivity"/>

        <activity
            android:name=".view.activity.AddTransactionActivity"
            />
        <activity android:name=".view.activity.AddCycleOperationActivity"/>

        <activity
            android:name=".view.activity.DrawerActivity"
            android:theme="@style/AppTheme.Drawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
